<section class="Header-Section">
    <div class="text-content">
        <div class="intro-bubble">
            <h4>Frontend Developer & UI Engineer</h4>
        </div>
        <h1>Modern Frontend</h1>
        <h1 class="Sub-heading">Development</h1>
        <h2>Clean Code. Modern UI. Best Results.</h2>
        <p>I build fast, responsive websites and scalable web applications using modern frontend technologies.</p>

        <div class="flex-row">
            <a href="#" class="btn btn-primary">View My Work <img src="/assets/arrow-Icon.svg" alt="Arrow Icon"></a>
            <a href="#" class="btn">Hire Me</a>
        </div>

        <div class="socials-wrap">
            <div class="flex-row">
                <img src="/assets/github.svg" alt="Github">
                <img src="/assets/lindkedn.svg" alt="lindkedn">
                <img src="/assets/gmail.svg" alt="Gmail">
            </div>
        </div>

    </div>

</section>