<div class="add-on-table fade-in">
    <h1>Add-On Services</h1>
    <div class="w-full">
        <div class="row">
            <div class="col">Emergency bug fix</div>
            <div class="col">R900 - R2,500</div>
        </div>
        <div class="row">
            <div class="col">Landing page build</div>
            <div class="col">R1,500 - R4,000</div>
        </div>
         <div class="row">
            <div class="col">Website redesign</div>
            <div class="col">R5,000 - R20,000</div>
        </div>
    </div>
    <div class="w-full">
        <div class="row">
            <div class="col">SEO optimization</div>
            <div class="col">R1,500 - R5,000</div>
        </div>
        <div class="row">
            <div class="col">Speed optimization</div>
            <div class="col">R1,000 - R3,000</div>
        </div>
         <div class="row">
            <div class="col">New feature</div>
            <div class="col">R500 - R1,100/hr</div>
        </div>
    </div>
</div>