<section class="container">
    <div class="content">
        <h1 class="heading">Services</h1>
        <p class="center">What I can do for you</p>
    </div>
    <div class="cards">

        <div class="card card-effect fade-in">
            <div class="card-content">
                <span class="icon">
                    <img src="/assets/Frontend Development.svg" alt="Frontend Development">
                </span>
                <h2>Frontend Development</h2>
                <ul>
                    <li>Angular Applications</li>
                    <li>Responsive Web Development</li>
                    <li>UI Implementation from Figma</li>
                </ul>
            </div>
        </div>

        <div class="card card-effect fade-in">
            <div class="card-content">
                <span class="icon">
                    <img src="/assets/Web development Icon.svg" alt="Web Development">
                </span>
                <h2>Website Development</h2>
                <ul>
                    <li>Business websites</li>
                    <li>Landing pages</li>
                    <li>Portfolio sites</li>
                </ul>
            </div>
        </div>
        <div class="card card-effect fade-in">
            <div class="card-content">
                <span class="icon">
                    <img src="/assets/UI Development.svg" alt="UI Development">
                </span>
                <h2>UI Development</h2>
                <ul>
                    <li>Figma to HTML/CSS</li>
                    <li>Tailwind UI builds</li>
                    <li>Component-based UI systems</li>
                </ul>
            </div>
        </div>
        <div class="card card-effect fade-in">
            <div class="card-content">
                <span class="icon">
                    <img src="/assets/Optimisation.svg" alt="Optimization">
                </span>
                <h2>Optimization</h2>
                <ul>
                    <li>Performance tuning</li>
                    <li>SEO optimization</li>
                    <li>Code refactoring</li>
                </ul>
            </div>
        </div>

    </div>
</section>