/* You can add global styles to this file, and also import other style files */
:root {
  /*Colors Start*/
  /*<-==========================================->*/
  --Color1-Pure-Primary: #000000;
  --Pure-White: hsl(0, 0%, 100%);
  --Color-OffGray: #f4f4f4;
  --Primary: #27272A;
  --Secondary: #7C86FF;
  --Tertiary: #C27AFF;
  --Gray: #D4D4D8;

  --dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --light-gray: hsl(0, 0%, 98%);

  /*Colors End*/
  /*<-==========================================->*/
  /*Font Start*/
  /*<-==========================================->*/
  --fs-Large-20: 20px;
  --fs-Medium-18: 18px;
  --fs-Normal-16: 16px;
  --fs-Small-12: 12px;

  --ff-Modern-Frontend: "Modern Frontend";
  --ff-fallback: sans-serif;

  /*Font End*/
  /*<-==========================================->*/
  /*Font weight Start*/
  /*<-==========================================->*/
  --fw-light: 200;
  --fw-regular: 400;
  --fw-bold: 600;
  /*Font weight End*/
  /*<-==========================================->*/

  --max-width: 1120px;
}

/* <-==========================-> */
/* CSS REST */
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-touch-action: auto;
  touch-action: auto;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: inline-block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
    -o-transition-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

p,
label,
span {
  font-size: 15px;
}

/* CSS REST End*/
/* <-==========================-> */

html {
  font-size: 62.5%;
  /* 62.5% of 16px (default browser size) = 10px */
}

body {
  font-family: var(--ff-Modern-Frontend), sans-serif;
  font-weight: var(--fw-400);
  background: var(--Color1-Pure-Primary);
  line-height: 1.6;
  color: var(--Gray);
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 15px;
}

/* ------------------------------ */
/* HEADER */
/* ------------------------------ */

header {
  position: sticky;
  top: 0;
  padding: 3rem 10rem;
  background: var(--Color1-Pure-Primary);
  z-index: 10;
}

header,
ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

ul li {
  margin-left: 4rem;
  list-style: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline-start: auto;
}

nav a {
  text-decoration: none;
  color: var(--Gray);
  font-size: var(--fs-Large-20);
}

header img {
  width: 12rem;
  height: auto;
}

/* ------------------------------ */
/* HEADER */
/* ------------------------------ */

.btn {
  text-align: center;
  padding: 2rem 3.5rem;
  border-radius: 1.4rem;
  font-size: var(--fs-Medium-16);
  border: 1px solid var(--Primary);
  background: #27272A;
  cursor: pointer;
  text-decoration: none;
  color: var(--Pure-White);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-primary {
  background-color: #4F39F6;
  border: none;
}
.btn img{
  display: inline-block;
  height: 3rem;
  width: 3rem;
  margin: 5px;
}

.Header-Section {
  height: 100%;
  padding-inline: 10rem;
  padding-block-start: 3rem;
  background: linear-gradient(180deg, #000 0%, #18181B 100%);
}

.intro-bubble {
  display: flex;
  width: 42rem;
  height: 37.6px;
  margin-block: 3rem;
  padding: 8.8px 24.8px 0.8px 24.8px;
  flex-direction: column;
  align-items: center;
  border-radius: 5rem;
  border: 0.8px solid #3F3F47;
  background: rgba(39, 39, 42, 0.50);
}

.text-content h1 {
  font-size: calc(var(--fs-Large-20) + 7.2rem);
  font-weight: var(--fw-regular);
  line-height: normal;
}

.text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  max-width: 82rem;
  min-width: 100%;
  margin-inline: auto;
  text-align: center;
  gap: 1.2rem
}

.text-content .Sub-heading {
  font-size: calc(var(--fs-Large-20) + 7.2rem);
  background: linear-gradient(90deg, var(--Secondary) 0%, var(--Tertiary) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-content h2 {
  color: #9F9FA9;
  text-align: center;
  font-size: calc(var(--fs-Large-20) + 4px);
  font-style: normal;
  font-weight: var(--fw-400);
  line-height: 32px;
  margin-block-start: 6rem;
}

.text-content p {
  color: #71717B;
  text-align: center;
  font-size: var(--fs-Large-20);
  font-style: normal;
  font-weight: var(--fw-400);
  line-height: 28px;
  margin-block: 6rem;
  padding-inline: 86rem;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 3rem;
}
.socials-wrap{
  margin-block: 6rem;
}

.cards {
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: space-evenly;
  margin-block: 6rem;
}

.card {
  border-radius: 45px;
  border: 1px solid var(--Primary);
  background: var(--Gray);
  box-shadow: 0 5px 0 0 #191A23;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem;
  width: 100%;
  min-width: 50rem;
  max-width: 54.3rem;
}

.card[data-card-color="green"] {
  background: var(--Secondary);
}

.card[data-card-color="Primary"] {
  background-color: var(--Primary);
}

.card[data-card-color="Primary"] h2,
.card[data-card-color="green"] h2 {
  background-color: var(--Gray);
}

.card[data-card-color="Primary"] button {
  color: var(--Gray)
}

.card-content div:last-child {
  margin-block-start: 9.3rem;
}

.card-content h2 {
  font-size: calc(var(--fs-Large-20) + 1rem);
  line-height: normal;
}

.card-link {
  display: flex;
  align-items: center;
  gap: 15px;
}

.card-link button {
  background: none;
  border: none;
  font-size: var(--fs-Medium-18);
  color: var(--Primary);
  cursor: pointer;
}


#tab-Menu {
  display: none;
}

.isHidden {
  display: none !important;
}

/*Media Queries Start*/
/*<-==========================================->*/
@media (min-width: 600px) {}

@media screen and (min-width: 992px) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 1800px),
(max-width: 1700px),
(max-width: 1600px),
(-webkit-device-pixel-ratio: 1.1),
(-webkit-device-pixel-ratio: 1.25),
(-webkit-device-pixel-ratio: 1.5) {

  /*1800px*/
  html {
    font-size: 45%;
  }
}

@media (max-width: 1220px) {}

@media (max-width: 600px) {
  body {
    overflow-x: hidden;
  }

  header {
    padding: 1rem 2rem;
  }

  .mb-nav {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 13rem;
    width: 100%;
    padding: 0;
    transition: 350ms all ease-in;
    transform: translateX(100%);
    opacity: 0;
  }

  ul.mb-nav li {
    display: inline-block;
    width: 100%;
    padding-block: 1.1rem;
    margin: 0;
    border-bottom: 2px solid var(--Primary);
  }

  .Menu-icon {
    display: inline-block;
    position: relative;
    width: 4rem;
    height: 3rem;
    transition: 450ms all ease-in;
  }

  .Menu-icon span,
  .Menu-icon::before,
  .Menu-icon::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 3px;
    background-color: var(--Pure-White);
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 5rem;
    transition: 250ms all ease-in;
  }

  .Menu-icon::after {
    top: 50%;
  }

  .Menu-icon span {
    top: 100%;
  }

  #tab-Menu:checked~.mb-nav {
    transform: translateX(0);
    opacity: 1;
  }

  #tab-Menu:checked~.Menu-icon::after {
    right: -100%;
    opacity: 0;
    transition-delay: 100ms
  }

  #tab-Menu:checked~.Menu-icon span {
    top: 50%;
    transform: translate(0) rotate(45deg);
    transition: 450ms all ease-in;
  }

  #tab-Menu:checked~.Menu-icon::before {
    top: 50%;
    transform: translate(0) rotate(-45deg);
    transition: 450ms all ease-in;
  }
}

@media (max-width: 285px) {
  html {
    font-size: 45%;
  }
}

/*Media Queries End*/
/*<-==========================================->*/