/* You can add global styles to this file, and also import other style files */
:root {
  /*Colors Start*/
  /*<-==========================================->*/
  --Color1-Pure-Primary: #000000;
  --Pure-White: hsl(0, 0%, 100%);
  --Color-OffGray: #f4f4f4;
  --Primary: #27272A;
  --Secondary: #7C86FF;
  --Tertiary: #C27AFF;
  --Gray: #D4D4D8;
  --Main: #18181B;

  --dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --light-gray: hsl(0, 0%, 98%);

  /*Colors End*/
  /*<-==========================================->*/
  /*Font Start*/
  /*<-==========================================->*/
  --fs-Large-20: 20px;
  --fs-Medium-18: 18px;
  --fs-Normal-16: 16px;
  --fs-Small-12: 12px;

  --ff-Modern-Frontend: "Modern Frontend";
  --ff-fallback: sans-serif;

  /*Font End*/
  /*<-==========================================->*/
  /*Font weight Start*/
  /*<-==========================================->*/
  --fw-light: 200;
  --fw-regular: 400;
  --fw-bold: 600;
  /*Font weight End*/
  /*<-==========================================->*/
  --radius: 6px;
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --max-width: 1120px;
}

/* <-==========================-> */
/* CSS REST */
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-touch-action: auto;
  touch-action: auto;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: inline-block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
    -o-transition-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

p,
label,
span {
  font-size: 15px;
}

/* CSS REST End*/
/* <-==========================-> */

html {
  font-size: 62.5%;
  /* 62.5% of 16px (default browser size) = 10px */
}

body {
  font-family: var(--ff-Modern-Frontend), sans-serif;
  font-weight: var(--fw-400);
  background: var(--Color1-Pure-Primary);
  line-height: 1.6;
  color: var(--Gray);
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 15px;
}

body {
  opacity: 0;
  transition: opacity 0.4s ease;
}

body.loaded {
  opacity: 1;
}

.main {
  width: 100%;
  margin: 0 auto;
}

/* ------------------------------ */
/* HEADER */
/* ------------------------------ */
header {
  padding: 3rem 10rem;
  background: var(--Color1-Pure-Primary);
}

#navbar,
header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}

header,
ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

ul li {
  margin-left: 4rem;
  list-style: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline-start: auto;
}

nav a {
  text-decoration: none;
  color: var(--Gray);
  font-size: var(--fs-Large-20);
}

header img {
  width: 12rem;
  height: auto;
}

/* ------------------------------ */
/* HEADER */
/* ------------------------------ */

.btn {
  height: 8rem;
  text-align: center;
  padding: 2rem 3.5rem;
  border-radius: 1.4rem;
  font-size: var(--fs-Medium-16);
  border: .5px solid var(--Main);
  background: var(--Primary);
  box-shadow: 0 5px 0 0 var(--Main);
  cursor: pointer;
  text-decoration: none;
  color: var(--Pure-White);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-primary {
  background-color: #4F39F6;
  border: none;
}

.btn img {
  display: inline-block;
  height: 3rem;
  width: 3rem;
  margin: 5px;
}

.project .btn {
  background-color: var(--Pure-White);
  color: #4F39F6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project .btn img {
  margin-block: 0;
}

.btn {
  transition: all 0.2s ease;
}

.btn:hover {
  transform: translateY(-2px);
}

.heading {
  color: var(--Pure-White);
  text-align: center;
  font-family: Inter;
  font-size: calc(var(--fs-Large-20) + 4rem);
  font-weight: var(--fw-bold);
  line-height: calc(var(--fs-Large-20) + 4rem);
  margin-block: 5rem;
}

.container {
  padding: 12rem 22rem 0 22rem;
  width: 100%;
  margin-inline: auto;
}

.block-content {
  padding: 48px 48px;
  border-radius: 1.4rem;
  background: var(--Primary);
  margin-block: 5rem;
  width: 100%;
  min-width: 120rem;
  max-width: 145rem;
  margin-inline: auto;
  box-shadow: 0 5px 0 0 var(--Main);
}

.g-paragraphs {
  margin: 0 auto;
  display: flex;
  padding: 18px 10rem 0 10rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
  max-width: fit-content;
  font-size: var(--fs-Large-20);
}

.Header-Section {
  height: 100%;
  padding-inline: 10rem;
  padding-block-start: 3rem;
  background: linear-gradient(180deg, #000 0%, #18181B 100%);
}

.intro-bubble {
  display: flex;
  width: 42rem;
  height: 37.6px;
  margin-block: 3rem;
  padding: 1.2rem 24.8px 1.2rem 24.8px;
  align-items: center;
  justify-content: center;
  border-radius: 5rem;
  border: 0.8px solid #3F3F47;
  background: rgba(39, 39, 42, 0.50);
}

.text-content h1 {
  font-size: calc(var(--fs-Large-20) + 7.2rem);
  font-weight: var(--fw-regular);
  line-height: normal;
}

.text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  max-width: 82rem;
  min-width: 100%;
  margin-inline: auto;
  text-align: center;
  gap: 1.2rem;
  padding-block: 18.5rem;
}

.text-content .Sub-heading {
  font-size: calc(var(--fs-Large-20) + 7.2rem);
  background: linear-gradient(90deg, var(--Secondary) 0%, var(--Tertiary) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-content h2 {
  color: #9F9FA9;
  text-align: center;
  font-size: calc(var(--fs-Large-20) + 4px);
  font-style: normal;
  font-weight: var(--fw-400);
  line-height: 32px;
  margin-block-start: 6rem;
}

.content p,
.text-content p {
  color: #71717B;
  text-align: center;
  font-size: var(--fs-Large-20);
  font-style: normal;
  font-weight: var(--fw-400);
  line-height: 28px;
  margin-block: 6rem;
  padding-inline: 86rem;
}

.content p {
  padding-inline: 4rem;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 3rem;
}

.socials-wrap {
  margin-block: 6rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: space-between;
  margin-block: 6rem;
}

.card {
  --set-width: 48rem;
  border-radius: 16px;
  border: .5px solid var(--Main);
  background: var(--Primary);
  box-shadow: 0 5px 0 0 var(--Main);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 5rem;
  min-width: 44rem;
  max-width: var(--set-width);
}

.card-content h2 {
  font-size: var(--fs-Large-20);
  line-height: normal;
  height: 8rem;
  display: grid;
  align-items: center;
  justify-content: flex-start;
}

.card-content .icon {
  display: flex;
  height: 48px;
  width: 48px;
  padding: 0 12px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  margin-block-end: 3rem;
  background: rgba(79, 57, 246, 0.10);
}

.card-content ul {
  display: grid;
  align-items: center;
  justify-content: flex-start;
  gap: 2.5rem;
  margin: 0;
  margin-block-start: 2rem;
  padding: 0;
}

.card h3 {
  color: var(--Pure-White);
  font-size: calc(var(--fs-Large-20) + 4px);
  font-weight: var(--fw-bold);
  line-height: 32px;
  margin-block: 2.5rem;
}

.card-content ul li {
  list-style: disc;
  color: #9F9FA9;
  margin-inline-start: 10px;
}

.card-content ul li::marker {
  color: var(--Secondary);
}

.icon-badge {
  display: flex;
  width: 8rem;
  height: 8rem;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: rgba(79, 57, 246, 0.10);
}

.tabs-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
}

.tab {
  display: inline-flex;
  padding: 8.6px 14.312px 9px 16.8px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 0.8px solid var(--Main);
  background: var(--Primary);
}

.project .tab {
  border-radius: 5rem;
  background: rgba(255, 255, 255, 0.20);
  margin-block: 5rem;
}

.package {
  padding: 4rem 6rem;
}

.package h2 {
  font-size: calc(var(--fs-Large-20) + 1.2rem);
}

.package h3 {
  font-size: calc(var(--fs-Large-20) + 4rem);
  font-weight: var(--fw-bold);
  line-height: 56px;
  background: linear-gradient(90deg, #7C86FF 0%, #C27AFF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-block: 1.5rem;
}

.package p {
  color: #9F9FA9;
  font-size: 16px;
  font-weight: var(--fw-400);
  line-height: 24px;
  margin-block: 2rem;
}

.package .btn {
  margin-block-start: 4rem;
}

.recommended {
  position: relative;
  border-radius: 14px;
  border: 1.6px solid #4F39F6;
  background: #18181B;
  box-shadow: 0 10px 15px -3px rgba(79, 57, 246, 0.20), 0 4px 6px -4px rgba(79, 57, 246, 0.20);
}

.recommended::after {
  content: "Most Popular";
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translate(-50%);
  color: var(--Pure-White);
  font-size: var(--fs-Small-12);
  border-radius: 26843500px;
  background: #4F39F6;
  padding: 4px 10px;
}

.add-on-table {
  display: flex;
  width: 100%;
  max-width: 240rem;
  margin: 12rem auto;
  height: 36rem;
  padding: 6rem 8rem 0.8px 6rem;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  border-radius: 12px;
  border: .5px solid var(--Main);
  background: var(--Primary);
  box-shadow: 0 5px 0 0 var(--Main);
}

.add-on-table>div {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.add-on-table h1 {
  display: inline-block;
  width: 100%;
  text-align: left;
  color: var(--Pure-White);
}

.cover-img {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.20);
  display: flex;
  width: 100%;
  height: 34rem;
  padding-inline: 16rem;
  justify-content: center;
  align-items: center;
  margin-block-end: 2rem;
}

.row {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid #9F9FA9;
  justify-content: space-between;
  height: 4.5rem;
  width: calc((100%/3) - 20px);
}

.col {
  font-size: var(--fs-Normal-16);
  display: inline-block;
  width: calc((100%/3) - 10px);
}

.col:nth-child(2) {
  text-align: end;
  color: #7C86FF;
}

.txt-clr {
  color: var(--Secondary) !important;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.fs-20 {
  font-size: var(--fs-Large-20);
}

.w-full {
  display: inline-block;
  width: 100%;
  max-width: 100%;
}

#tab-Menu {
  display: none;
}

.mY-generic[data-space="5"] {
  --mY-Size: 5rem;
  margin-block: var(--mY-Size);
}

.isHidden {
  display: none !important;
}

.mx-w-generic[data-divide="2"] {
  --set-width: 100%;
  max-width: calc((var(--set-width) / 2) - 88px);
}

.mx-w-generic[data-divide="3"] {
  --set-width: 100%;
  max-width: calc((var(--set-width) / 3) - 88px);
}

.footer {
  padding: 12rem 22rem 0 22rem;
  width: 100%;
  margin-inline: auto;
}

.footer__top {
  border-top: 1px solid #9F9FA950;
  display: flex;
  height: 10rem;
  padding-right: 0;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  padding-block: 6rem;
}

.footer__brand {
  display: grid;
  align-items: start;
  justify-content: start;
  gap: 1rem;
}

.footer__title {
  color: var(--Pure-White);
  font-size: var(--Color1-Pure-Primary);
  font-weight: var(--fw-bold);
  line-height: 28px;
}

.footer__tagline {
  color: #9F9FA9;
  font-size: var(--fs-Small-12);
  font-weight: var(--fw-400);
  line-height: 20px;
}

.footer__bottom {
  padding: 4rem;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.card-effect:hover {
  transition: all 0.6s ease;
  transform: translateY(20px) scale(1.03);
}

.hero {
  background: linear-gradient(270deg, #111, #333, #111);
  background-size: 600% 600%;
  animation: gradientMove 10s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0%
  }

  50% {
    background-position: 100%
  }

  100% {
    background-position: 0%
  }
}

/*Media Queries Start*/
/*<-==========================================->*/
@media (min-width: 600px) {}

@media screen and (min-width: 992px) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 1800px),
(max-width: 1700px),
(max-width: 1600px),
(-webkit-device-pixel-ratio: 1.1),
(-webkit-device-pixel-ratio: 1.25),
(-webkit-device-pixel-ratio: 1.5) {

  /*1800px*/
  html {
    font-size: 45%;
  }
}

@media (max-width: 1220px) {}

@media (max-width: 600px) {
  body {
    overflow-x: hidden;
  }

  header,
  .footer {
    padding: 1rem 2rem;
  }

  .container {
    padding: 4rem 3rem 0 3rem;
  }

  .g-paragraphs,
  .block-content {
    min-width: 100%;
    padding: 2.5rem;
  }

  .package {
    padding: 0;
  }

  .cards {
    justify-content: center;
  }

  .cards .card {
    margin-block: 2rem;
  }

  .add-on-table {
    height: auto;
    padding-block-end: 6rem;
    max-width: 46rem;
    padding: 3rem 4rem 3rem 3rem;
  }

  .add-on-table .col,
  .add-on-table .row {
    width: 100%;
  }

  .add-on-table .row {
    height: 6rem;
    align-items: center;
  }

  .add-on-table>div {
    display: inline-block;
  }

  .project .tab {
    margin-block: 0;
  }

  .project .tabs-wrap {
    margin-block: 2rem;
  }

  .mb-nav {
    display: inline-block;
    position: fixed;
    z-index: 1000;
    left: 0;
    right: 0;
    bottom: 0;
    top: 12rem;
    width: 100%;
    height: 100dvh;
    padding-inline: 4rem;
    transition: 350ms all ease-in;
    transform: translateY(100%);
    overflow-y: auto;
    opacity: 0;
    background-color: var(--Color1-Pure-Primary);
  }

  ul.mb-nav li {
    display: inline-block;
    width: 100%;
    padding-block: 1.1rem;
    padding-inline: 4rem;
    margin: 0;
    border-bottom: 2px solid var(--Primary);
  }

  .Menu-icon {
    display: inline-block;
    position: relative;
    width: 4rem;
    height: 3rem;
    transition: 450ms all ease-in;
  }

  .Menu-icon span,
  .Menu-icon::before,
  .Menu-icon::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 3px;
    background-color: var(--Pure-White);
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 5rem;
    transition: 250ms all ease-in;
  }

  .Menu-icon::after {
    top: 50%;
  }

  .Menu-icon span {
    top: 100%;
  }

  #tab-Menu:checked~.mb-nav {
    transform: translateY(0);
    opacity: 1;
  }

  #tab-Menu:checked~.Menu-icon::after {
    opacity: 0;
    transition-delay: 100ms
  }

  #tab-Menu:checked~.Menu-icon span {
    top: 50%;
    transform: translate(0) rotate(45deg);
    transition: 450ms all ease-in;
  }

  #tab-Menu:checked~.Menu-icon::before {
    top: 50%;
    transform: translate(0) rotate(-45deg);
    transition: 450ms all ease-in;
  }

  .Header-Section {
    padding-inline: 2rem;
  }

  .text-content {
    padding-block: 0;
    max-width: 100%;
  }

  .text-content p,
  .text-content h2 {
    padding-inline: 8rem;
  }

  .text-content h1,
  .text-content .Sub-heading {
    font-size: calc(var(--fs-Large-20) + 4rem);
  }
}

@media (max-width: 285px) {
  html {
    font-size: 45%;
  }
}

/*Media Queries End*/
/*<-==========================================->*/