/* You can add global styles to this file, and also import other style files */
:root {
  /*Colors Start*/
  /*<-==========================================->*/
  --Color1-Pure-Primary: #000000;
  --Color1-Pure-Gray: hsl(0, 0%, 100%);
  --Color-OffGray: #f4f4f4;
  --Primary: #27272A;
  --Secondary: #7C86FF;
  --Gray: #D4D4D8;

  --dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --light-gray: hsl(0, 0%, 98%);

  /*Colors End*/
  /*<-==========================================->*/
  /*Font Start*/
  /*<-==========================================->*/
  --fs-Large-20: 20px;
  --fs-Medium-18: 18px;
  --fs-Normal-16: 16px;
  --fs-Small-12: 12px;

  --ff-Modern-Frontend: "Modern Frontend";
  --ff-fallback: sans-serif;
  
  /*Font End*/
  /*<-==========================================->*/
  /*Font weight Start*/
  /*<-==========================================->*/
  --fw-light: 200;
  --fw-regular: 400;
  --fw-bold: 600;
  /*Font weight End*/
  /*<-==========================================->*/

  --max-width: 1120px;
}

/* <-==========================-> */
/* CSS REST */
/* Box sizing rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-touch-action: auto;
  touch-action: auto;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: inline-block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
    -o-transition-duration: 0.01ms !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

p,
label,
span {
  font-size: 15px;
}

/* CSS REST End*/
/* <-==========================-> */

html {
  font-size: 62.5%; /* 62.5% of 16px (default browser size) = 10px */
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-weight: var(--fw-400);
  background: var(--Color1-Pure-Gray);
  line-height: 1.6;
  color: var(--Primary);
  height: 100%;
  margin: 0;
  padding: 0 1.5rem;
  width: 100%;
  font-size: 15px;
}

.main {
  padding-inline: 10rem;
  padding-block-start: 3rem;
}

/* ------------------------------ */
/* HEADER */
/* ------------------------------ */

header {
  position: sticky;
  top: 0;
  padding-block-start: 3rem;
  padding-block-end: 3.5rem;
  background-color: var(--Color1-Pure-Gray);
  z-index: 10;
}

header,
ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

ul li {
  margin-left: 4rem;
  list-style: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline-start: auto;
}

nav a {
  text-decoration: none;
  color: var(--Primary);
  font-size: var(--fs-Large-20);
}

header img {
  width: 22rem;
  height: auto;
}

/* ------------------------------ */
/* HEADER */
/* ------------------------------ */

.btn {
  text-align: center;
  padding: 2rem 3.5rem;
  border-radius: 1.4rem;
  font-size: var(--fs-Medium-16);
  border: 1px solid var(--Primary);
  background-color: var(--Color1-Pure-Gray);
  font-size: var(--fs-Large-20);
  cursor: pointer;
}

.btn-primary {
  background-color: var(--Primary);
  color: var(--Color1-Pure-Gray);
  border: none;
}

header .btn {
  margin-inline-start: 4rem;
}

.Header-Section {
  margin-top: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-content h1 {
  font-size: calc(var(--fs-Large-20) + 4rem);
  font-weight: var(--fw-regular);
  line-height: normal;
}

.text-content {
  max-width: 53rem;
  text-align: left;
}

.text-content p {
  font-size: var(--fs-Large-20);
  margin-block: 3.5rem;
  max-width: 49rem;
}

.ribbon {
  margin-block-start: 7rem;
}

.ribbon-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  filter: grayscale(100%) brightness(0%);
  position: relative;
  z-index: -1;
}

.testimonial-section,
.contact-section,
.team-section,
.process-section,
.case-study-section,
.service-section {
  margin-block-start: 12rem;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: start;
}

.testimonial-section .flex-row h1,
.case-study-section .flex-row h1,
.contact-section .flex-row h1,
.team-section .flex-row h1,
.service-section .flex-row h1,
.process-section .flex-row h1,
.card-content h2 {
  background-color: var(--Secondary);
  padding-inline: 7px;
  border-radius: 7px;
  width: fit-content;
}

.testimonial-section p,
.contact-section p,
.case-study-section p,
.team-section p,
.process-section p,
.service-section p {
  max-width: 58rem;
  margin-inline-start: 4rem;
  font-size: var(--fs-Medium-18);
  line-height: normal;
}

.cards {
  flex-wrap: wrap;
  gap: 4rem;
  justify-content: space-evenly;
  margin-block: 6rem;
}

.card {
  border-radius: 45px;
  border: 1px solid var(--Primary);
  background: var(--Gray);
  box-shadow: 0 5px 0 0 #191A23;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem;
  width: 100%;
  min-width: 50rem;
  max-width: 54.3rem;
}

.card[data-card-color="green"] {
  background: var(--Secondary);
}

.card[data-card-color="Primary"] {
  background-color: var(--Primary);
}

.card[data-card-color="Primary"] h2,
.card[data-card-color="green"] h2 {
  background-color: var(--Gray);
}

.card[data-card-color="Primary"] button {
  color: var(--Gray)
}

.card-content div:last-child {
  margin-block-start: 9.3rem;
}

.card-content h2 {
  font-size: calc(var(--fs-Large-20) + 1rem);
  line-height: normal;
}

.card-link {
  display: flex;
  align-items: center;
  gap: 15px;
}

.card-link button {
  background: none;
  border: none;
  font-size: var(--fs-Medium-18);
  color: var(--Primary);
  cursor: pointer;
}

.proposal-section {
  margin-block-start: 12rem;
  margin-block-end: 6rem;
  position: relative;
  padding-inline: 6rem;
}

.proposal-section .text-content h1 {
  margin-block-start: 2rem;
  font-size: calc(var(--fs-Large-20) + 1rem);
  max-width: 50rem;
}

.proposal-section img {
  margin-inline-start: auto;
}

.proposal-section::after {
  content: "";
  position: absolute;
  border-radius: 4.5rem;
  background-color: var(--Gray);
  width: 100%;
  height: calc(100% - 4rem);
  bottom: 2rem;
  left: 0;
  border: 2px solid transparent;
  z-index: -1;
}

.case-studies {
  margin-block: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7rem 6rem;
  border-radius: 4.5rem;
  background-color: var(--Primary);
  color: var(--Gray);
}

.case-studies .case p {
  margin: 0;
}

.case {
  max-width: 27rem;
  position: relative;
}

.case:not(:first-of-type)::before {
  content: "";
  width: 2px;
  height: 100%;
  background-color: var(--Secondary);
  position: absolute;
  top: 0;
  left: -50%;
}

.case button {
  background-color: transparent;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--Secondary);
  font-size: var(--fs-Large-20);
  line-height: 140%;
  padding: 0;
  margin-block-start: 2rem;
}

.dropdown-group {
  margin-block-start: 6rem;
}

.dropdown-group details {
  border-radius: 4.5rem;
  border: 1px solid var(--Primary);
  background: var(--Gray);
  box-shadow: 0 5px 0 0 #191A23;
  font-size: calc(var(--fs-Large-20) + 1rem);
  padding: 4.1rem 6rem;
  margin-block-end: 3rem;
}

.dropdown-group summary {
  list-style: none;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown-group summary div {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.dropdown-group p {
  border-top: 2px solid var(--Primary);
  display: inline-block;
  width: 100%;
  margin: 0;
  padding-block: 3rem;
  max-width: 100%;
}

.dropdown-group h1 {
  font-size: calc(var(--fs-Large-20) + 4rem);
  font-weight: var(--fw-bold);
}

.dropdown-group button {
  background: var(--Color1-Pure-Gray);
  border: 1px solid var(--Primary);
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  pointer-events: none;
  width: 5.8rem;
  height: 5.8rem;
}

.dropdown-group button::before,
.dropdown-group button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.7rem;
  height: .5rem;
  background-color: var(--Primary);
  transform-origin: center;
  transform: translate(-50%, -50%);
}

.dropdown-group button::after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.dropdown-group details[open] button::after {
  transition: all 450ms ease-in-out;
  transform: translate(-50%, -50%) rotate(0deg);
}

.dropdown-group details[open] {
  background-color: var(--Secondary);
  transition: all 450ms ease-in-out;
}

.team-card {
  display: flex;
  width: 43rem;
  height: 38.1rem;
  padding: 4rem 3.5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 4.5rem;
  border: 1px solid var(--Primary);
  background: var(--color-Gray);
  box-shadow: 0 5px 0 0 #191A23;
}

.team-card .top-content {
  display: flex;
  align-items: start;
  gap: 2rem;
  padding-block-end: 3rem;
  text-align: left;
}

.team-card .top-content div {
  margin-block-start: auto;
}

.team-card .top-content h2 {
  font-size: var(--fs-Large-20);
}

.team-card .top-content p {
  font-size: var(--fs-Medium-18);
  margin: 0;
}

.team-card .bottom-content {
  margin: 0;
  padding-block-start: 3rem;
  border-top: 2px solid var(--Primary);
}

.team-section .flex-row.cards {
  justify-content: space-between;
}

.row-flow-end {
  padding-block: 4rem;
  width: 100%;
}

.btn-primary.ms-auto {
  display: block;
  margin-inline-start: auto;
  margin-inline-end: 0;
}

.contact-block,
.testimonial-block {
  margin-block-start: 6rem;
  padding: 8.4rem 6rem 6.8rem 6rem;
  background-color: var(--Primary);
  border-radius: 4.5rem;
  max-height: 58.3rem;
  position: relative;
  margin-block-end: 6rem
}

.contact-block{
  background-color:var(--Gray) ;
}

.slides {
  display: flex;
  gap: 4rem;
  flex-wrap: nowrap;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  margin-block-end: 12.4rem;
}

.carousel {
  display: flex;
  justify-content: center;
  gap: 2rem;
  max-width: 60rem;
  margin: 2rem auto;
  position: absolute;
  left: 50%;
  bottom: 4rem;
  transform: translateX(-50%);
}

.carousel button {
  width: 1.5rem;
  height: 1.5rem;
  background-color: transparent;
  border: none;
  background-size: contain;
  background-position: center;
  background-image: url('../assets/images/Vector.png');
  background-repeat: no-repeat;
  cursor: pointer;
}

.carousel button.active {
  background-image: url('../assets/images/Vector-active.png');
}

.slides::-webkit-scrollbar {
  display: none;
}

.slides {
  scrollbar-width: none;
}

.bubble-card {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4rem;
  scroll-snap-align: center
}

.bubble {
  background-color: transparent;
  border: 2px solid var(--Secondary);
  border-radius: 4.5rem;
  padding: 4.8rem 5rem;
  max-width: 60rem;
  min-width: 60rem;
  position: relative;
}

.bubble::after {
  content: "";
  position: absolute;
  bottom: -2.5rem;
  left: 4rem;
  width: 0;
  height: 0;
  border-left: 2.3rem solid transparent;
  border-right: 2.3rem solid transparent;
  border-top: 2.5rem solid var(--Secondary);
  z-index: 2;
}

.bubble::before {
  content: '';
  position: absolute;
  bottom: -2rem;
  left: 4rem;
  width: 0;
  height: 0;
  border-left: 2.3rem solid transparent;
  border-right: 2.3rem solid transparent;
  border-top: 2.3rem solid var(--Primary);
  z-index: 5;
}


.bubble p,
.bubble-card .content p {
  color: var(--Color1-Pure-Gray);
  font-size: var(--fs-Medium-18);
  line-height: normal;
  max-width: 100%;
  margin: 0;
}

.bubble-card .content {
  display: inline-block;
  width: 100%;
}

.bubble-card .content h3 {
  color: var(--Secondary);
  margin: 0;
  font-size: var(--fs-Large-20);
  text-align: left;
  padding-inline-start: 6rem;
}

.bubble-card .content p {
  padding-inline-start: 6rem;
}
