<section class="container">
    <div class="block-content fade-in">
        <h1 class="heading">About Me</h1> 
        <div class="g-paragraphs">
            <p>Hi, I'm <strong>Michael</strong>, a frontend developer behind <strong class="txt-clr">MC Codes</strong>.</p>
            <p>I specialize in building modern, responsive web applications using <strong>Angular, TypeScript, and
                    Tailwind CSS</strong>.</p>
            <p>My focus is clean architecture, scalable frontend systems, and user experiences that perform across all
                devices.</p>
            <p>I help startups, agencies, and businesses turn designs into fast, reliable, and maintainable web
                applications.</p>
            <p class="w-full">
                <strong class="txt-clr center fs-20">My goal is simple: clean code, great UI, and reliable performance.</strong>
            </p>
        </div>
    </div>
</section>